/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

/* Estilos para o contêiner de alertas */
.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1050;
}

/* Estilos para os alertas */
.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* Estilos para o botão de fechar */
.alert .close {
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}

/* Animações para os alertas */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}